<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488241103937-ev1jkt9k7hgl6tt9s5akj6fcskd7uo2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488241103937-ev1jkt9k7hgl6tt9s5akj6fcskd7uo2v</string>
	<key>API_KEY</key>
	<string>AIzaSyDuzAuluArHrGarGy6hoDJcD2Plr-lLAE8</string>
	<key>GCM_SENDER_ID</key>
	<string>488241103937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devleeky16498.CranMarket</string>
	<key>PROJECT_ID</key>
	<string>cran-a4706</string>
	<key>STORAGE_BUCKET</key>
	<string>cran-a4706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488241103937:ios:d889c2d54a46eda19632c0</string>
</dict>
</plist>